$primary_color: #000000;
$secondary_color: #545454;
$tertiary_color: #ffffff;
$red_color: #db1215;
$orange_color: #FF7B54;
$grey_color: #EBEBEB;
$beige_color: #EBE9DE;

$font_size_xs: 14px;
$font_size_sm: 16px;
$font_size_md: 18px;
$font_size_lg: 20px;
$font_size_xl: 24px;
$font_size_xxl: 28px;
$font_size_xxxl: 32px;
$heading_size_sm: 42px;
$heading_size_md: 52px;
$heading_size_lg: 68px;

$font_weight_normal: 400;
$font_weight_semibold: 600;
$font_weight_bold: 800;

$line_height_sm: 1.2;
$line_height_md: 1.6;

